@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .center {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .ellipsis {
    @apply text-ellipsis;
    @apply whitespace-nowrap;
    @apply overflow-hidden;
  }

  .bg-brand {
    background: linear-gradient(90deg, #fc4a1a 0%, #f7b733 100%);
  }
}

@layer utilities {
}

@keyframes theCursor {
  0%,
  49.9%,
  100% {
    opacity: 0;
  }
  50%,
  99.9% {
    opacity: 1;
  }
}

@layer components {
  .discover-detail-page-layout {
    @apply rounded-[30px] border-[3px] border-black bg-[#8EF59B] p-7 relative;
    margin-bottom: 120px;

    &::after {
      @apply rounded-[30px] border-[3px] border-black bg-[#8EF59B] p-7 relative;
      content: '';
      z-index: -1;
      position: absolute;
      inset: 0;
      bottom: -60px;
      box-shadow: 8px 8px 0 0 #000;
    }
  }

  .custom-btn {
    /* z-index: 0; */
    @apply border-[2px] border-[#000] text-[#000] font-bold px-3 py-2 rounded-[100px] relative text-[28px];
    box-shadow: 4px 4px 0px 0px #000000;
    transition: all 0.2s ease;
    transform: translate3d(-4px, -4px, 0);
    cursor: pointer;
  }

  .custom-btn:active {
    box-shadow: 0 0 0 black;
    transform: translate3d(0px, 0px, 0);
  }

  /* .custom-btn::after {
    content: '';
    z-index: -1;
    @apply absolute inset-0 bg-[#000] block rounded-[100px] translate-x-3;
  } */
  .green-btn {
    @apply bg-[#BAFF26] custom-btn;
  }

  .white-btn {
    @apply bg-[#FFFFFF] custom-btn;
  }

  .purple-btn {
    @apply bg-[#95A6FF] custom-btn;
  }

  .yellow-btn {
    @apply bg-[#F9D607] custom-btn;
  }
}

@layer components {
  .sm-shadow {
    /* z-index: 0; */
    @apply border-[2px] border-[#000] text-[#000] font-bold relative;
    box-shadow: 4px 4px 0px 0px #000000;
    transition: all 0.2s ease;
    transform: translate3d(-4px, -4px, 0);
    box-sizing: border-box;
  }

  .xl-shadow {
    @apply border-[5px] border-[#000] text-[#000] relative;
    box-shadow: 8px 8px 0px 0px #000000;
    transition: all 0.2s ease;
    /*transform: translate3d(-4px, -4px, 0);*/
    box-sizing: border-box;
  }

  .green-sm-card {
    @apply bg-[#BAFF26] sm-shadow;
  }

  .white-sm-card {
    @apply bg-[#FFFFFF] sm-shadow;
  }

  .purple-card {
    @apply bg-[#95A6FF] xl-shadow;
  }

  .yellow-card {
    @apply bg-[#F9D607] xl-shadow;
  }
}

.page-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: calc(100vh - 138px);
  padding: 20px 60px 0;
}

*,
:after,
:before {
  border-width: 0;
  border-style: solid;
  border-color: currentColor;
  font-family: Rubik, sans-serif !important;
}

.custom-scrollbar {
  &::-webkit-scrollbar {
    background: transparent;
    width: 14px;
  }
  &::-webkit-scrollbar-thumb {
    background: rgba(149, 166, 255, 0.4);
    box-shadow: inset 0 0 0px 2px #000;
    background-clip: padding-box;
    border-radius: 30px;
    border: 2px solid rgba(0, 0, 0, 0);
    width: 8px;
  }
}

.wallet-adapter-modal-wrapper {
  background: #fff;
}
